/*
########################################
        Author: Jai Kathuria
########################################
 */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
	background: #3498db;
	color: rgba(255, 255, 255, 1);
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

p {
    margin: 0;
    margin-top: .3em;
}

section {
	padding: 5em 2em 10em;
	text-align: center;
}

.error {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.btn {
  position: relative;
  vertical-align: top;
  width: 40%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  cursor: pointer;

}

.btn:active, .btn:hover{
    outline: none;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
}

.btn:focus {
    outline: none;
}

.base{
	position: relative;
	margin: 0 auto;
	padding: 2em 0;
	max-width: 860px;
	width: 100%;
	text-align: left;
	font-size: 2.5em;
    text-transform: uppercase;
}




/* Question list style */
.siform ol {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
}

.siform ol:before {
	content: '';
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.35em;
}

.question li {
	z-index: 100;
	position: relative;
	visibility: hidden;
	height: 0;
	-webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
	transition: visibility 0s 0.4s, height 0s 0.4s;
}

.question li {
	visibility: visible;
	height: auto;
	-webkit-transition: none;
	transition: none;
}

.question span label {
    font-size: 0.8em;
}

/* Input field */
.question input {
	display: block;
	margin: 0.3em 0 0 0;
	padding: 1.3em 1em 0.5em 1em;
	width: calc(100% - 2em);
	border: none;
	background: transparent;
	color: rgb(255, 255, 255);
	font-size: 1em;
	line-height: 1;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.question input {
	opacity: 1;
}

.question input:focus,
.siform button:focus {
	outline: none;
}


.jumbo {
    font-size: 1.5em;
    font-weight: 400;
}

.thin {
    font-weight: 300;
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}

/* Adjust form for smaller screens */

@media screen and (max-width: 44.75em) {
	.siform {
		font-size: 1.8em;
	}

  .btn {
    font-size: 15px;
    height: 40px;
  }
}

@media screen and (max-width: 33.5625em) {
	.siform {
		font-size: 1.2em;
    height: 40px;
	}
}



.hide {
    visibility: hidden;
}

.vals {
    margin-top: 5vh;
    padding-left: 1vw;
    font-size: 0.7em;
    font-weight: 700;
}

.val {
    font-size: 1.4em;
}